<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>This sector of the code was old.. EJS templates were replaced with a React frontend</h1>
    <p></p>
  </body>
</html>
