<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="newpost" method='POST'>
        <label for='username'>Username</label>
        <input type='text' placeholder='username' name='username'>
        <label for='message'>Message</label>
        <input type='text' placeholder='message' name='message'>
        <button>Submit</button>
    </form>
  </body>
</html>